* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, sans-serif; 
  }

  body{
    background-image: url(images/newari.jpeg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  }


  .navbar {
    background-color: #ffffff;
    padding: 10px 20px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar img {
    height: 90px;
    margin-right: 20px;
  }
  
  .navbar h1 {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center align the heading */
    flex-grow: 1; /* Let it take up remaining space */
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  .login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
 


h2 {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.navbar h1 {
  text-align: center;
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;
}

.dropdowns ul li a {
  margin: 20px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.dropdowns ul li a:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(88, 89, 91, 0.8);
  padding: 10px 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 25px; 
  background-color: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.search-box input[type="search"] {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border-top-left-radius: 25px; 
  border-bottom-left-radius: 25px; 
}

.search-box button {
  height: 100%;
  padding: 0 20px;
  background-color: #007bff; 
  color: #ffffff;
  border: none;
  border-top-right-radius: 25px; 
  border-bottom-right-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.search-box button:hover {
  background-color: #0056b3; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.container .card {
  flex: 0 0 calc(33.33% - 40px);
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  background-color: #8EC5FC; 
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); 
}

.container .card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.container .card .intro {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  transition: all 0.3s ease;
}

.container .card:hover .intro {
  display: block;
}

.container .card .intro h1 {
  margin-bottom: 10px;
}

.container .card .intro p {
  margin-bottom: 0;
  color: #333;
  font-size: 16px; 
}

.container .card .intro .book-now-btn {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease; 
}

.container .card .intro .book-now-btn:hover {
  background-color: #0056b3; 
}
/* Hotel Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure spacing between cards */
}

.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Adjusted margin */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: calc(50% - 20px); /* Adjusted width to fit two cards in a row with spacing */
}

h2 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #f4f3f3;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.intro {
  padding: 20px;
}

.intro h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 16px;
  line-height: 1.5;
}

/* Book Now Button */
.book-now-btn {
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.book-now-btn:hover {
  background-color: #ff4d4d;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


.footer-container {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.trending-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.tab-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.tab-button:hover {
  background-color: #45a049;
}

.location-list {
  list-style-type: none;
  padding: 0;
}

.location-item {
  margin-bottom: 10px;
}

.location-link {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

.location-link:hover {
  color: #4CAF50;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.best-time-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  max-width: 80%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.blurred-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 0;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff;
}

.description p {
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.5;
}

.read-more-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #f6f7f8;
}


header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

section {
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: none; /* Remove background color */
  overflow: hidden; 
  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  background-color: #ddd;
}

.grid-pashu {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: transparent;
}

.grid-pashu img {
  width: 100%;
  height: calc(100vh - 100px); /* Adjust height to cover the screen, minus header height and some padding */
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.pashu-content {
  padding: 20px; /* Added more padding for better spacing */
}

.pashu-content h3 {
  color: #333;
  margin-bottom: 10px;
}

.pashu-content p {
  color: #666;
  margin-bottom: 15px;
}

.pashu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pashu-content li {
  margin-bottom: 10px;
}

.grid-pashu:hover img{
  transform: scale(1.2);
}

.grid-boudha {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: transparent;
  transition: transform 0.3s ease;
}

.grid-boudha img {
  width: 100%;
  height: calc(100vh - 100px); /* Adjust height to cover the screen, minus header height and some padding */
  object-fit: cover;
}

.grid-boudha:hover img{
  transform: scale(1.2);
}

.boudha-content {
  padding: 20px; /* Added more padding for better spacing */
}

.boudha-content h3 {
  color: #333;
  margin-bottom: 10px;
}

.boudha-content p {
  color: #666;
  margin-bottom: 15px;
}

.boudha-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.boudha-content li {
  margin-bottom: 10px;
}

.grid-janaki {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: transparent;
  transition: transform 0.3s ease;
}

.grid-janaki img {
  width: 100%;
  height: calc(100vh - 100px); /* Adjust height to cover the screen, minus header height and some padding */
  object-fit: cover;
}

.grid-janaki:hover img{
  transform: scale(1.2);
}

.janaki-content {
  padding: 20px; /* Added more padding for better spacing */
}

.janaki-content h3 {
  color: #333;
  margin-bottom: 10px;
}

.janaki-content p {
  color: #666;
  margin-bottom: 15px;
}

.janaki-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.janaki-content li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.book-now-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

body,.footer-inform ul {
  margin: 0;
  padding: 0;
  
}

h4{
  color:black;
}
.footer-inform{
  background-color:aliceblue;
  overflow: hidden;
  display:flex;
  list-style: none;
  margin-right: 15px;
  font-weight: bold;
  background-image: url(images/mt-everest.webp);
}

.footer-inform a:hover{
  color:red;
}

.footer-links a:hover{
  color:red;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: black; 
}
.footer-links{
  margin-top: 20px;
  padding-left:  180px;
}

.social-media {
  margin-top: 20px; 
  padding-left:  180px; 
}

.social-media h4 {
  color: black; 
}

.social-media ul {
  list-style: none;
  padding: 0px;
}


.social-media a {
  text-decoration: none;
  color: black; 
}


.travel-interest {
  margin-top: 20px; 
  padding-left:  180px; 
}

.travel-interest h4 {
  color: black; 
}

.travel-interest ul {
  list-style: none;
  padding: 0px;
}

.travel-interest li {
  margin-bottom: 8px;
}

.travel-interest a {
  text-decoration: none;
  color: black; 
}

.support {
  margin-top: 20px; 
  padding-left:  150px; 
}

.support h4 {
  color: black; 
}

.support ul {
  list-style: none;
  padding: 0px;
}

.support li {
  margin-bottom: 8px;
}

.support a {
  text-decoration: none;
  color: black; 
}


.section-container p {
  margin-top: 10px; 
}

.section-container h2{
  color: #333;
}
.box-position {
  border: 4px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 1400px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;S
  margin-bottom: 50px;
}

.section-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.culture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.culture  .p  {
  text-align: left;
  padding-right: 20px;
}

.culture .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}

.mountains {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 70px;
}

.mountains  .p  {
  text-align: left;
  padding-right: 20px;
}

.mountains .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}
.wildlife{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.wildlife  .p  {
  text-align: left;
  padding-right: 20px;
}

.wildlife .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}
.heritage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 70px;
}

.heritage  .p  {
  text-align: left;
  padding-right: 20px;
}

.heritage .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}

.affordable{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.affordable  .p  {
  text-align: left;
  padding-right: 20px;
}

.affordable .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}

.religion{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 70px;
}

.religion  .p  {
  text-align: left;
  padding-right: 20px;
}

.religion .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}

.cuisine{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.cuisine  .p  {
  text-align: left;
  padding-right: 20px;
}

.cuisine .img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transform: scale(1.1);
}